/* style.css */
* {
  margin: 0;
  padding: 0;
}
/* Node styles */
.node {
  position: relative;
  list-style: none;
  margin-left: 25px; /* Adjust the indentation */
  margin-top: 20px;
}

.nodeText {
  font-weight: bold;
  color: #000;
  display: inline-block;
  margin-right: 3px;
}

.btnTree {
  padding-right: 8px;
  margin-right: 10px;
  font-weight: 900;
  background-color: inherit;
  color: black;
  border: none;
  cursor: pointer;
  border-right: 1px black solid;
}

.nodebtn:hover {
  opacity: 0.5;
}

.hidden {
  display: none;
}
.rotated {
  transform: rotate(90deg);
  transition: transform 0.5s ease;
}
